.socials {
  top: -30px;
  box-shadow: 0 8px 32px 0 #7171715e;
  background: #ffffff26;
  border: 1px solid #ffffff79;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}
a {
  cursor: pointer;
}
.socials li:hover {
  svg {
    fill: #262626;
    filter: drop-shadow(3px 5px 20px #f975fe);
  }
}
.socials li:active {
  svg {
    fill: #f975fe;
    filter: drop-shadow(0 0 10px #f975fe);
  }
}
